<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">

</head>
<body>

<h3>Spring Boot + Thymeleaf</h3>
<h5>Cadastro de Pessoas</h5>

<br/>
<div th:each="m : ${msg}">
    <span th:text="${m}"/>
</div>
<br/>


<div class="row">
    <form action="/salvarPessoa" class="col s12" id="formPessoa" method="post" th:object="${pessoaObj}">

        <div class="row">
            <div class="input-field col s6">
                <label class="active" for="id">ID</label>
                <input id="id" name="id" readonly="readonly" th:field="*{id}"
                       type="text">
            </div>

            <div class="input-field col s6">
                <label class="active" for="nome">Nome:</label>
                <input class="validate" id="nome" name="nome"
                       th:field="*{nome}" type="text">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label class="active" for="sobrenome">Sobrenome:</label>
                <input class="validate" id="sobrenome" name="sobrenome"
                       th:field="*{sobrenome}" type="text">
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <label class="active" for="idade">Idade:</label>
                <input class="validate" id="idade" name="idade"
                       th:field="*{idade}" type="text">
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <label class="active" for="cep">CEP:</label>
                <input class="validate" id="cep" name="cep"
                       th:field="*{cep}" type="text">
            </div>
        </div>

        <div class="row">
            <div class="row">
                <div class="input-field col s12">
                    <label class="active" for="rua">Rua:</label>
                    <input class="validate" id="rua" name="rua"
                           th:field="*{rua}" type="text">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="row">
                <div class="input-field col s12">
                    <label class="active" for="bairro">Bairro:</label>
                    <input class="validate" id="bairro" name="bairro"
                           th:field="*{bairro}" type="text">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="row">
                <div class="input-field col s12">
                    <label class="active" for="cidade">Cidade:</label>
                    <input class="validate" id="cidade" name="cidade"
                           th:field="*{cidade}" type="text">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="row">
                <div class="input-field col s12">
                    <label class="active" for="uf">Uf:</label>
                    <input class="validate" id="uf" name="uf"
                           th:field="*{uf}" type="text">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input class="btn waves-effect waves-light" type="submit"
                       value="Salvar">
                <button class="btn waves-effect waves-light" onclick="document.getElementById('formPessoa').reset()">
                    Novo
                </button>
            </div>
        </div>

    </form>

</div>
<br/>
<br/>

<div class="row">
    <form action="pesquisaPessoa" class="col s12" method="post">
        <div class="row">
            <div class="input-field col s12">
                <label class="active" for="nomePesquisa">Pesquisa por nome:</label>
                <input class="validate" id="nomePesquisa" name="nomePesquisa">
                <input class="btn waves-effect waves-light" type="submit"
                       value="Pesquisar"/>
                <a class=" btn waves-effect waves-light" href="/listaPessoas">Lista de pessoas</a>
            </div>
        </div>
    </form>
</div>
<table class="striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Idade</th>
        <th>Editar</th>
        <th>Excluir</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pessoa : ${pessoas}">
        <td th:text="${pessoa.id}"/>
        <td><a th:href="@{/telefones/{idPessoa}(idPessoa=${pessoa.id})}" th:text="${pessoa.nome}"></a></td>
        <td th:text="${pessoa.sobrenome}"/>
        <td th:text="${pessoa.idade}"/>
        <td><a th:href="@{/editarPessoa/{idPessoa}(idPessoa=${pessoa.id})} ">Editar</a></td>
        <td><a th:href="@{/removerPessoa/{idPessoa}(idPessoa=${pessoa.id})} ">Excluir</a></td>
    </tr>
    </tbody>
</table>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script crossorigin="anonymous" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        function limpa_formulario_cep() {
            $("#rua").val("rua");
            $("#bairro").val("");
            $("#cidade").val("");
            $("#uf").val("");
            $("#ibge").val("");
        }

        $("#cep").blur(function () {

            var cep = $(this).val().replace(/\D/g, '');

            if (cep !== "") {

                var validacep = /^[0-9]{8}$/;

                if (validacep.test(cep)) {

                    $("#rua").val("...");
                    $("#bairro").val("...");
                    $("#cidade").val("...");
                    $("#uf").val("...");
                    $("#ibge").val("...");

                    $.getJSON("https://viacep.com.br/ws/" + cep + "/json/?callback=?", function (dados) {

                        if (!("erro" in dados)) {
                            $("#rua").val(dados.logradouro);
                            $("#bairro").val(dados.bairro);
                            $("#cidade").val(dados.localidade);
                            $("#uf").val(dados.uf);
                            $("#ibge").val(dados.ibge);
                        } else {
                            limpa_formulario_cep();
                            alert("CEP não encontrado.");
                        }
                    });
                } else {
                    limpa_formulario_cep();
                    alert("Formato de CEP inválido.");
                }
            } else {
                limpa_formulario_cep();
            }
        });
    });
</script>

</body>
</html>