<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>
<body>
<h3>Contatos</h3>

<div th:each="p : ${pessoaObj}">
    <div class="row">
        <p>ID: <span th:text="${p.id}"></span></p>
        <p>Nome: <span th:text="${p.nome}"></span></p>
        <p>Sobrenome <span th:text="${p.sobrenome}"></span></p>

    </div>
    <div class="row">
        <a class="waves-effect waves-light btn" href="/cadastroPessoa">Cad. Pessoa</a>
    </div>

    <h5>Telefones</h5>

    <div class="row">

        <form class="col s12"
              method="post" th:action="@{/adicionarFone/{pessoaId}(pessoaId=${pessoaObj.id})}">

            <div class="row">

                <div class="input-field col s6">
                    <label class="active" for="id">ID</label>
                    <input class="validate" id="id" name="id" readonly="readonly" type="text"/>
                </div>

                <div class="input-field col s6">
                    <label class="active" for="numero">Número:</label>
                    <input class="validate" id="numero" name="numero" type="number"/>
                </div>

                <div class="input-field col s6">
                    <label class="active" for="tipo">Tipo:</label>
                    <input class="validate" id="tipo" name="tipo" type="text"/>
                </div>

                <div class="input-field col s6">
                    <label class="active" for="email">Email:</label>
                    <input class="validate" id="email" name="email" type="email"/>
                </div>

                <input class="btn waves-effect waves-light" type="submit" value="Adicionar"/>

            </div>
        </form>
    </div>

    <table class="striped">

        <thead>
        <tr>
            <th>ID</th>
            <th>Número</th>
            <th>Tipo</th>
            <th>Email</th>
            <th>Excluir</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="fone : ${telefones}">
            <td th:text="${fone.id}"/>
            <td th:text="${fone.numero}"/>
            <td th:text="${fone.tipo}"/>
            <td th:text="${fone.email}"/>
            <td><a th:href="@{/removerFone/{idTelefone}(idTelefone=${fone.id})} ">Excluir</a></td>
            <td><a th:href="@{/editarFone/{idTelefone}(idTelefone=${fone.id})} ">Editar</a></td>
        </tr>
        </tbody>
    </table>


</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


</body>
</html>